body {
  background: #eeeeee;
  font-size: 14px;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: 'Lusitana', serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
  width: 3em;
}

p {
  color: #333;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

li {
  color: #333;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
}

p span {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
}

a {
  color: #477DCA;
  text-decoration: none;
}

h2 {
  font-family: 'Merriweather', serif;;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.2em;
}

h3 {
  font-family: 'Lusitana', serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: .4em;
}

code {
  background: #F7F7F7;
  border-radius: 3px * 1.5;
  border: 1px solid #E0E0E0;
  font-family: monaco;
  font-size: 0.75em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}

article {
  background: #fff;
  max-width: 54em;
  margin: 0 auto;
  box-shadow:
              0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
              0 10px 0 -5px #eee, /* The second layer */
              0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
              0 20px 0 -10px #eee, /* The third layer */
              0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
  padding: 2em;
}

.button {
  background-color: #477DCA;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: .9em;
  font-weight: light;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase;
}

.share {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase;
  float: right;

  .fb-share-button {
    span {
      vertical-align: top !important;
      margin-bottom: 0;
    }
  }
}

p.date {
  color: rgba(#333, .6);
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 0.3em;
}

a.read-more {
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;
}

a.read-more span {
  font-family:'Merriweather', serif;
  font-size: 1.5em;
  font-style: normal;
  position: absolute;
  right: -12px;
  top: -1px;
}

p.ps {
  font-family: 'Merriweather', serif;
  font-style: italic;
}

@media (min-width: 640px) {

  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.4em;
  }
}

 /*modals*/

.modal h1 {
  margin: 0;
}

.modal p {
  color: #333;
  line-height: 1.5em;
}

.modal label {
  cursor: pointer;
  margin-bottom: 0;
}

.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}

.modal .modal-state {
  display: none;
}

.modal .modal-trigger {
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  text-decoration: none;
  background-clip: padding-box;
}

.modal .modal-trigger:hover:not(:disabled) {
  background-color: #578ad4;
  cursor: pointer;
}

.modal .modal-trigger:active:not(:disabled), .modal .modal-trigger:focus:not(:disabled) {
  background-color: #3c71bb;
  cursor: pointer;
}

.modal .modal-trigger:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal .modal-window {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999;
}

@media screen and (min-width: 53.75em) {
  .modal .modal-window {
    padding-top: 10em;
    }
  }

.modal .modal-window .modal-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  cursor: pointer;
}

.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: white;
  cursor: pointer;
}

.modal .modal-close:after, .modal .modal-close:before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 1.5em;
  width: 0.15em;
  background: #DDD;
  content: '';
  display: block;
  margin: -3px 0 0 -1px;
}

.modal .modal-close:hover:after, .modal .modal-close:hover:before {
  background: #c4c4c4;
}

.modal .modal-close:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: white;
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
}

@media screen and (min-width: 40em) {
  .modal .modal-inner {
    max-height: 70%;
    padding: 3em;
    width: 60%;
  }
}

@media screen and (min-width: 53.75em) {
  .modal .modal-inner {
    width: 50%;
    }
  }

.modal .modal-inner h1 {
  color: #333;
  margin-bottom: 0;
  text-align: left;
  text-size: 2em;
}

.modal .modal-inner .modal-intro {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 0;
}

.modal .modal-inner .modal-content {
  color: #333;
}

@media screen and (min-width: 40em) {
  .modal .modal-inner .modal-content {
    -webkit-columns: 2 8em;
    -moz-columns: 2 8em;
    columns: 2 8em;
    }
  }
.modal .modal-inner a.cta {
  color: white;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}

.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}

.modal .modal-state:checked + .modal-window {
  opacity: 1;
  visibility: visible;
}

.modal .modal-state:checked + .modal-window .modal-inner {
  top: 0.5em;
}

.modal-open {
  overflow: hidden;
}

input {
  border: none;
  border-bottom: dotted 1px #c9c9c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  padding: 1em;
  transition: border 0.3s;
  width: 100%;
}

input:focus,
input.focus {
  border-bottom: solid 1px #969696;
}

input[type=submit] {
  border: none;
  border-bottom: none;
  margin: 1em 0;
  padding: 10px;
  width: auto;
}
