---
layout: default
---
<div class="post">
  <article class="post-content type-system-serif">
    <div>
      <span class="type">Vacature</span>
      <span class="share">deel dit op
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="icon"></div>
        <a href="https://twitter.com/share"><img src="https://g.twimg.com/dev/documentation/image/Twitter_logo_blue_16.png"></a>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      </span>
    </div>
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <h2>Voor de uitbreiding van ons team zijn wij op zoek naar ervaren front-end developers met gevoel voor UX.</h2>

      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
    </header>
    {{ content }}
      <div class="modal">
        <label for="modal-1">
          <div class="modal-trigger button">Ja, klinkt goed!</div>
        </label>
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-window">
          <div class="modal-inner">
            <label class="modal-close" for="modal-1"></label>
            <h1>Reageren op deze vacature</h1>
            <p class="modal-intro">Lijkt het je leuk om ons team te versterken? Vul je naam, email en telefoonnummer in en we nemen zo snel mogelijk contact met je op. Een eventuele link naar je portfolio / github account / etc. zou mooi zijn :)</p>
            <form accept-charset="UTF-8" action="https://formkeep.com/f/da32eaeda39e" method="POST">
              <input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="vacature" value="{{ page.title }}">
              <input type="email" name="email" placeholder="Je e-mail">
              <input type="text" name="name" placeholder="Je naam">
              <input type="tel" name="telefoonnummer" placeholder="Je telefoonnummer">
              <input type="url" name="url" placeholder="Portfolio, Github account, etc.">
              <input type="submit" value="Verzenden" class="button">
            </form>
          </div>
        </div>
      </div>

      <hr>

      <p class="ps">P.S. Tafelvoetbal ervaring is een pr&eacute;.</p>
  </article>

</div>
