---
layout: default
---
<div class="post">
  <article class="post-content type-system-serif">
    <div>
      <span class="type">Job</span>
      <span class="share">share this on
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php" class="button fb-button"><span class="icon-facebook"></span></a>
        <a target="_blank" href="https://twitter.com/share" class="button tw-button"><span class="icon-twitter"></span></a>
        <a target="_blank" href="https://www.linkedin.com/shareArticle?url=http://jobs.defacto.nl" class="button in-button"><span class="icon-linkedin"></span></a>
        <a target="_blank" href="https://plus.google.com/share?url=http://jobs.defacto.nl" class="button gp-button"><span class="icon-google-plus"></span></a>
      </span>
    </div>
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <h2></h2>

      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
    </header>
    {{ content }}
      <div class="modal">
        <label for="modal-1">
          <div class="modal-trigger button">Bewerben</div>
        </label>
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-window">
          <div class="modal-inner">
            <label class="modal-close" for="modal-1"></label>
            <h1>Bewerben</h1>
            <p class="modal-intro">Hast du Lust unser Team zu verstärken? Gebe deinen Namen, Email und Telefonnummer an und wir melden uns bei dir. Gerne auch einen Link zu deinem Portfolio / Github Account etc. :)</p>
            <form accept-charset="UTF-8" action="https://formkeep.com/f/da32eaeda39e" method="POST">
              <input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="vacature" value="{{ page.title }}">
              <input type="text" name="name" placeholder="Name">
              <input type="email" name="email" placeholder="Email">
              <input type="tel" name="telefoonnummer" placeholder="Telefonnummer">
              <input type="url" name="url" placeholder="Portfolio, Github account, etc.">
              <input type="submit" value="Bewerben" class="button">
            </form>
          </div>
        </div>
      </div>

      <hr>

      <!-- <p class="ps">P.S. Tafelvoetbal ervaring is een pr&eacute;.</p> -->
  </article>

</div>